.projects{
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 200px;
}

.projects-title{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projects-h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#projects-hr{
    width: 60%;
    border: 1px black solid;
}

#projects-p{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    text-align: center;
}

.projects-wrap{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;


}

.project-wraps{
    width: 550px;
    height: 350px;
    background-image: linear-gradient(to right, #de0631, #9c0321);
    /* background-color: gray; */
    border: 3px rgb(188, 2, 39) solid;
    border-radius: 5px 5px 5px 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.project-wraps:hover{
    box-shadow: 12px 7px 27px 0px rgb(164, 3, 3);
}

.project-h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;

}

.project-h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}


@media screen and (max-width: 600px) {
    
    .project-wraps{
        width: 300px;
        height: 400px;
    }
  
}